<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HuellaAnimalia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HuellaAnimalia.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HuellaAnimalia.Properties.Settings>
            <setting name="Usuario_empleado" serializeAs="String">
                <value />
            </setting>
            <setting name="Rol_empleado" serializeAs="String">
                <value />
            </setting>
            <setting name="Nombre_empleado" serializeAs="String">
                <value />
            </setting>
            <setting name="numPedido" serializeAs="String">
                <value />
            </setting>
        </HuellaAnimalia.Properties.Settings>
    </userSettings>
</configuration>